@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* base = base.scss dito mga reset at panimula na styles
general rule of thumb is that what goes here can be overridden */ 
@layer base {
    html {
        @apply text-[10px]
    }

    body {
        @apply font-body text-[1.7rem] leading-[1.42857143] font-[400]
    } 

    h2 {
        @apply text-[2.2rem] font-[200]
    }
}

.banner__links::before {
    content: "";
    position: absolute;
    width: 0px;
    height: 0px;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 15px solid #25252b;
    top: -8px;
    right: 3px;
}

.github__count::before {
    content: "";
    position: absolute;
    width: 0px;
    height: 0px;
    border-bottom: 3px solid transparent;
    border-top: 3px solid transparent;
    border-right: 3px solid #fafafa;
    top: 7px;
    left: -3px;
}

/* .search__bar input.search__icon:hover {
    .search__bar .search__icon i {
        color: #fff;
    }
} */

.tns-outer {
    @apply relative w-[100%]
}

.tns-controls {
    @apply absolute bottom-[50%] z-[7777] w-[100%]
}

.previous {
    @apply absolute left-[6.5rem]
}

.next {
    @apply absolute right-[5.9rem]
}

/* sa components mga classes na nagbabago ng itsura */
@layer components {
    .container {
        @apply mx-auto max-w-[115rem] w-full;
    }

    .header {
        @apply block bg-dark text-light w-[100%] /* py-[.61rem] */ z-[9999] top-0 left-0 fixed ease-in-out duration-[.30s] h-[5rem] md:h-auto
    }

    .header.open {
        @apply block bg-dark text-light w-[100%] /* py-[.61rem] */ z-[9999] top-0 left-0 fixed h-[36rem] overflow-y-auto md:h-auto
    }

    .header.active {
        @apply block bg-dark text-light w-[100%] /* py-[.61rem] */ z-[9999] top-0 left-0 fixed h-[5rem] overflow-y-auto md:h-auto shadow-3xl
    }

    .header.open.active {
        @apply block bg-dark text-light w-[100%] /* py-[.61rem] */ z-[9999] top-0 left-0 fixed h-[36rem] overflow-y-auto md:h-auto shadow-3xl
    }

    .header .container {
        @apply px-[2rem] py-[1rem] md:py-0
    } 
    
    .header__wrapper {
        @apply relative flex justify-between md:items-center
    }

    .header__branding {
        @apply flex gap-5 text-[1.8rem]
    }

    .header__branding span {
        @apply whitespace-nowrap
    }

    .header__branding img {
        @apply w-[2.3rem] h-[2.3rem]
    }

    /* .header__nav {
        @apply flex justify-between items-center
    } */

    .header__nav__left {
        @apply flex flex-col gap-11 md:flex-row md:gap-8 
    }

    .header__nav__links {
        @apply hidden transform transition-transform duration-200 ease-in-out md:flex md:flex-row md:gap-8 md:items-center
    }

    .header__nav__links.open {
        @apply flex flex-col gap-[1.4rem] 
    }

    .header__nav__left ul li {
        @apply text-[1.6rem] md:text-gray transition duration-200
    }

    .header__nav__left ul li:hover {
        @apply md:text-light
    }

    .header__dropdown__dl {
        @apply hidden 
    }

    .header__dropdown__dl.open {
        @apply flex items-center gap-5 bg-button col-span-2 h-[5rem] pl-12 md:hidden
    }

    .header__dropdown__dl.open:hover {
        @apply bg-hover
    }

    .header__nav__right {
        @apply hidden md:block
    }

    .header__nav__form {
        @apply flex items-center md:gap-20 lg:gap-0
    }

    .search__bar {
        @apply flex items-center
    }

    .search__bar i {
        @apply absolute ml-5 md:text-gray lg:text-light duration-200
    }

    .search__bar i:hover {
        @apply md:text-light cursor-pointer
    }

    .search__bar input.search__input {
        @apply sm:hidden lg:block bg-search-bar h-[5.0rem] pl-16 w-[18.3rem] text-[1.4rem] placeholder-light font-extralight 
    }

    .search__bar input.search__input:hover {
        @apply lg:bg-search-bar-hover lg:border-light lg:border-[.005rem]
    }

    .search__bar input.search__input:hover:focus {
        @apply lg:border-[.005rem] lg:outline-none
    }

    .search__bar input.search__input:focus {
        @apply lg:bg-search-bar-hover lg:border-light lg:border-[.005rem] lg:outline-none
    }

    .search__bar input.search__icon {
        @apply hidden md:block absolute w-10 cursor-pointer outline-none bg-transparent caret-transparent md:right-[15rem] lg:right-[28.5rem]
    }

    .search__text {
        @apply md:hidden
    }

    .dl__link {
        @apply flex items-center bg-button md:h-[5.0rem]
    }

    .dl__link:hover {
        @apply bg-hover cursor-pointer
    }

    .dl__text {
        @apply flex items-center gap-6 text-[1.55rem] md:px-6 
    }

    .toggle__menu {
        @apply absolute right-0 top-[-1] w-[4.2rem] h-[3.2rem] inline-block py-2 px-[1rem] rounded-lg md:hidden
    }

    .toggle__menu:hover {
        @apply bg-burger-hover 
    }

    .toggle__menu span {
        @apply block bg-light w-[2.2rem] h-[.2rem] rounded-full my-[.4rem] 
    }

    .cta__top {
        @apply bg-darker text-gray mt-[5rem] flex items-center text-center p-5
    }

    .cta__top p {
        @apply text-[1.5rem]
    }

    .cta__top a {
        @apply underline text-accent
    }
    
    .cta__top a:hover {
        @apply no-underline
    }

    .cta__top .container {
        @apply px-20 overflow-hidden max-w-[60rem] md:max-w-max md:py-0
    }

    .swimlane p {
        @apply leading-[4rem]
    }

    .banner {
        @apply bg-dark text-gray pt-[3rem] pb-[10rem] md:pb-[6rem] lg:pb-[3rem]
    }
    
    /* .banner .container {
        @apply max-w-[98rem] lg:max-w-[192rem]
    } */

    .banner a {
        @apply text-accent
    }

    .banner a:hover {
        @apply underline
    }

    .banner__wrapper {
        @apply flex flex-col text-center justify-center items-center gap-5 md:flex-row md:items-start
    }

    .banner__content {
        @apply flex flex-col items-center text-center gap-5 md:mt-12
    }

    .banner__img img {
        @apply w-[61.7rem] lg:w-[75rem] lg:h-[59rem]
    }

    /* .banner__header {
        @apply mt-8
    } */

    .banner__header h1 {
        @apply flex flex-col text-light text-[4rem] font-light leading-tight md:text-[4.75rem] lg:text-[5rem]
    }

    .banner__header h1 span {
        @apply font-medium
    }

    .banner__lead {
        @apply text-[1.5rem] font-light md:text-[1.7rem] md:max-w-md lg:max-w-full lg:text-[1.8rem]
    }

    .banner__downloads {
        @apply flex gap-1 text-light
    }

    .banner__downloads button {
        @apply bg-button
    }

    .banner__downloads button:hover {
        @apply bg-button-hover
    }

    .banner__downloads__button__left {
        @apply flex flex-col items-center text-[1.4rem] font-semibold py-[1rem] px-[4.8rem] whitespace-nowrap md:text-[1.7rem] md:px-6 lg:text-[1.8rem]
    }

    .banner__downloads__button__left span {
        @apply text-[1.1rem] font-light md:text-[1.3rem] lg:text-[1.4rem]
    }

    .banner__downloads__button__right {
        @apply relative px-[1rem]
    }

    .banner__dropdown {
        @apply hidden absolute bg-light text-dark border-[.2rem] border-button z-[8888] top-[35rem] md:top-[41rem] lg:top-[39rem]
    }

    .banner__dropdown th {
        @apply text-[1.36rem] font-light p-[.85rem] md:text-[1.52rem] lg:text-[1.6rem]
    }

    .banner__dropdown .operating__system {
        @apply text-[1.275rem] font-bold md:text-[1.425rem] lg:text-[1.5rem]
    }

    .banner__dropdown .banner__dropdown__text__container {
        @apply text-center w-44 my-0 mx-auto
    }

    .banner__dropdown .banner__dropdown__text {
        @apply font-light text-[1.4rem]
    }

    .banner__dropdown td {
        @apply text-[1.6rem] p-[.85rem] border-b-[.1rem] border-gray
    }

    .banner__dropdown .non__accented {
        @apply text-dark
    }

    .banner__dropdown.open {
        @apply block 
    }

    .banner__links {
        @apply relative bg-darker text-[1.1rem] font-light px-[4.5rem] py-[.8rem] rounded-xl md:text-[1.3rem] md:px-[.9rem] lg:text-[1.4rem] lg:px-[.8rem]
    }

    .banner__terms {
        @apply text-[1.1rem] font-light w-[20rem] md:text-[1.2rem]
    }

    .tools {
        @apply bg-light text-dark
    }

    .tools p {
        @apply text-[1.6rem]
    }

    .tools__grid {
        @apply grid grid-cols-2 lmd:grid-cols-4
    }

    .tools__grid__item {
        @apply flex flex-col items-center text-center gap-5 py-8 mx-6
    }

    .tools__grid__item:hover {
        @apply bg-gray
    }

    .tools__grid__item:hover i.fa-lightbulb {
        @apply text-lightbulb
    }

    .tools__grid__item:hover i.fa-bug {
        @apply text-bug
    }

    .tools__grid__item:hover i.fa-play {
        @apply text-bug
    }

    .tools__grid__item:hover i.fa-code-branch {
        @apply text-git
    }

    .tools__grid__item:hover i.fa-cubes {
        @apply text-[#000000]
    }

    /* /* .tools__wrapper {
        @apply relative
    } */

    .slider {
        @apply bg-less-gray flex items-center
    }

    .slider .container {
        @apply relative
    }

    .slider__wrapper {
        @apply flex items-center w-[100%] justify-between
    }

    .slider__item {
        @apply relative flex gap-4 mb-11
    }

    .slider__img {
        @apply w-[6.119rem] h-[6.119rem] md:mr-3 /*absolute left-[-2rem] top-[-1rem]*/
    }

    .slider__img img {
        @apply w-[6.119rem] h-[6.119rem] lmd:w-[6.48rem] lmd:h-[6.48rem] md:w-[6.839rem] md:h-[6.839rem] lg:w-[7.2rem] lg:h-[7.2rem] rounded-full shadow-circle-shadow max-w-none
    }

    .slider__content {
        @apply relative
    }

    .slider__header a {
        @apply lg:flex lg:gap-3
    }

    .slider__header h2 {
        @apply text-[1.2rem] font-bold tracking-tight m-0 lmd:text-[1.26rem] md:text-[1.33rem] lg:text-[1.4rem]
    }

    .slider__header span {
        @apply text-[1.02rem] text-slider-gray lmd:text-[1.08rem] md:text-[1.14rem] lg:text-[1.2rem]
    }

    .slider__text p {
        @apply text-[1.53rem] font-light text-left lmd:text-[1.62rem] md:text-[1.71rem] lg:text-[1.8rem]
    }

    .slider__icon {
        @apply absolute w-[1.359rem] top-0 right-0 lmd:w-[1.439rem] md:w-[1.519rem] lg:w-[1.6rem] lg:h-[1.8rem]
    }

    .slider__icon img {
        @apply w-[100%]
    }

    .slider__slide {
        @apply max-w-full p-32 md:!grid md:!grid-cols-3 md:gap-12
    }


    /* .tns-inner {
        @apply items-center
    } */



    /* .previous {
        @apply absolute bottom-0
    } */
    /* .tns-controls {
        @apply flex items-center justify-between absolute bottom-0
    } */

    /* .tns-button {
        @apply text-[2rem] absolute bottom-0
    } */

    .tns-nav {
        @apply hidden;
    }

    .debug {
        @apply relative
    }

    .fa-bug {
        @apply absolute bottom-0 right-11
    }

    .swimlane {
        @apply py-[5.7rem]
    }

    .swimlane .container {
        @apply px-[1.5rem]
    }

    .swimlane__wrapper {
        @apply flex flex-col items-center lmd:flex-row lmd:justify-between lmd:align-top md:flex-row md:justify-between md:align-top
    }

    .swimlane__img {
        @apply w-[43.2rem] lmd:w-[30rem] md:w-[30rem] lg:w-[36rem]
    }

    .swimlane__img img {
        @apply w-[100%]
    }

    .swimlane__content {
        @apply flex flex-col px-4 gap-12 lmd:max-w-[56rem]
    }

    .swimlane__content h2 {
        @apply text-[1.9rem] lmd:text-[2.7rem] md:text-[2.85rem] lg:text-[3rem]
    }

    .swimlane__content p {
        @apply text-[1.45rem] lmd:text-[1.62rem] md:text-[1.7rem] lg:text-[1.8rem]
    }

    .swimlane__content a {
        @apply text-accent-one
    }

    .swimlane__content a:hover {
        @apply text-hover underline
    }

    .debugging {
        @apply bg-less-gray
    }

    .debugging .swimlane__wrapper  {
        @apply md:flex-row-reverse
    }

    .extensions {
        @apply bg-less-gray
    }

    .extensions .swimlane__wrapper {
        @apply md:flex-row-reverse
    }

    .extensions img {
        @apply transform transition duration-1000 w-[43.2rem] lmd:w-[30rem] md:w-[30rem] lg:w-[36rem]
    }

    .extensions img:hover {
        @apply scale-[1.05]
    }

    .languages {
        @apply bg-less-gray py-[6rem]
    }

    .languages__wrapper {
        @apply flex flex-col items-center
    }

    .languages h2 {
        @apply text-[1.9rem] mb-[4rem] lmd:text-[2.7rem] md:text-[2.85rem] lg:text-[3rem]
    }

    .languages p {
        @apply text-[1.45rem] lmd:text-[1.62rem] md:text-[1.7rem] lg:text-[1.8rem]
    }

    .languages__grid {
        @apply mb-11 grid grid-cols-2 gap-[2rem] gap-x-48 lmd:grid-cols-4 lmd:gap-x-32 md:grid-cols-6 md:gap-x-20
    }

    .languages__grid__item {
        @apply flex items-center gap-2
    }

    .languages a {
        @apply text-accent-one mb-[6rem]
    }

    .languages a:hover {
        @apply text-hover underline
    }

    .languages button {
        @apply bg-button text-light text-[2rem] font-semibold py-[1.5rem] px-[3.5rem]
    }

    .languages button:hover {
        @apply bg-hover
    }

    .downloads {
        @apply py-[5.1rem]
    }

    .downloads__wrapper {
        @apply flex flex-col items-center  gap-6 lsm:grid lsm:grid-cols-2 lsm:items-start md:grid-cols-3
    }

    .downloads img {
        @apply w-[10rem] h-[10rem]
    }

    .downloads__grid {
        @apply flex flex-col items-center gap-7
    }

    .downloads__button {
        @apply flex flex-col items-center text-[1.5rem] font-semibold py-[1rem] px-[7.2rem] bg-button text-light gap-3 lmd:text-[1.62rem] md:text-[1.71rem] lg:text-[1.8rem]
    }

    .downloads__button__linux__deb {
        @apply flex flex-col items-center text-[1.5rem] font-semibold py-[1rem] px-[3.2rem] bg-button text-light gap-3 lmd:text-[1.62rem] md:text-[1.71rem] lg:text-[1.8rem]
    }

    .downloads__button__linux__rpm {
        @apply flex flex-col items-center text-[1.5rem] font-semibold py-[1rem] bg-button text-light w-[14.15rem] gap-3 lmd:text-[1.62rem] md:text-[1.71rem] lg:text-[1.8rem]
    }

    .downloads__grid button:hover {
        @apply bg-hover
    }

    .downloads__button__title {
        @apply flex gap-6 items-center
    }

    .downloads__grid button span {
        @apply text-[1rem] lmd:text-[1.08rem] md:text-[1.14rem] lg:text-[1.2rem]
    }

    .downloads__grid table tr {
        @apply border-spacing-64
    }

    .downloads__grid table span {
        @apply text-[1.5rem] font-semibold mr-3 lmd:text-[1.6rem]
    }

    .downloads__grid table a {
        @apply text-[1.2rem] font-light bg-button text-light px-[.3rem] rounded
    }

    .downloads__grid table a:hover {
        @apply bg-hover
    }

    .dowloads__linux {
        @apply lsm:justify-end
    }

    .downloads__mac {
        @apply lsm:col-span-2 md:col-span-1
    }

    .cta__bottom {
        @apply bg-less-gray py-[5rem]
    }

    .cta__bottom .container {
        @apply max-w-[57rem] md:max-w-6xl
    }

    .cta__bottom__wrapper {
        @apply flex flex-col items-center text-center gap-[10rem] md:grid md:grid-cols-2 md:items-start
    }

    .cta__bottom h2 {
        @apply text-[1.785rem] font-semibold lmd:text-[1.89rem] md:text-[1.995rem] lg:text-[2.1rem]
    }

    .cta__bottom p {
        @apply text-[1.5rem] lmd:text-[1.62rem] md:text-[1.71rem] lg:text-[1.8rem]
    }

    .cta__bottom a {
        @apply text-accent-one
    }

    .cta__bottom a:hover {
        @apply text-hover underline
    }

    .cta__bottom__text {
        @apply flex flex-col gap-4
    }

    .cta__bottom__terms {
        @apply sm:px-[10rem] md:col-span-2
    }

    .cta__bottom__terms h3 {
        @apply text-[1.275rem] font-semibold lmd:text-[1.35rem] md:text-[1.425rem] lg:text-[1.5rem]
    }

    .cta__bottom__terms p {
        @apply text-[1.19rem] leading-[4rem] lmd:text-[1.26rem] md:text-[1.333rem] lg:text-[1.4rem]
    }

    .footer {
        @apply bg-dark text-light pt-14 pb-6
    }

    .footer__wrapper {
        @apply md:flex md:justify-between
    }

    .footer__left__col {
        @apply text-[1.4rem] px-6 mb-[2.6rem]
    }

    .footer__left__col ul {
        @apply flex ml-[2.6rem] items-center lsm:gap-11 lsm:ml-0 
    }

    .footer__left__col span {
        @apply hidden lsm:block
    }

    .footer__left__col a:hover {
        @apply text-hover-one
    }

    .footer__right__col {
        @apply text-[1.2rem] px-6 md:max-w-xl lg:max-w-full
    }

    .footer__right__col ul {
        @apply flex flex-wrap gap-x-12 md:justify-end md:gap-y-5
    }

    .footer__right__col a:hover {
        @apply text-hover-one
    }

    .footer__right__col img {
        @apply w-[9.355rem]
    }

    .github__button {
        @apply flex bg-light-one py-[.2rem] pl-[.5rem] pr-[.4rem] text-dark text-[1.1rem] gap-1 rounded
    }

    .github__button:hover {
        @apply bg-less-light
    }

    .github__button img {
        @apply w-[1.4rem] h-[1.4rem]
    }

    .github__count {
        @apply relative bg-light-one py-[.2rem] pl-[.5rem] pr-[.4rem] text-dark text-[1.1rem] gap-2 rounded
    }

    .github__count:hover {
        @apply text-count-hover bg-less-light cursor-pointer
    }
}

